<!doctype html>
<html lang="de" ng-app="NotifyMe">
  <head>
    <meta charset="utf-8">
    <title>Probandenabo.ch - Willkommen!</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
  </head>
  <body>
    <h1>probandenabo.ch</h1>
    <h3>Erfahre es als erster, wenn jemand einen Proband braucht</h3>
    <div id="header">
      <h5>Wie funktioniert's?</h5>
      <ol>
        <li>Trag deine Email <a href="#subscribe-form">unten</a> ein
        <li>Der Probandenabo-Robot prüft den Marktplatz regelmässig auf gewisse Keywords (z.B. 'Proband' oder 'Experiment')
        <li>Jemand postet auf www.marktplatz.uzh.ch: "Ich suche dringend einen Proband für heute nachmittag!!! CHF25 für 1h!!!"
        <li>Du erhältst eine Email mit dem Link zum Post
        <li>Melde dich sofort!
      </ol>
    </div>

    <div id="forms" ng-controller="SubscriptionsCtrl">
      <h5>Sofort probieren</h5>
      <form name="subscribeForm" class="form-default">
        <input type="text" placeholder="me@example.com" ng-pattern="emailRgx" 
          ng-model="subscribeForm.email" required />
        <span class="error alert alert-error" ng-show="subscribeForm.$dirty && subscribeForm.$invalid">
          Ungültig oder leer!
        </span>
        <span class="alert alert-success display-none">Du hast nun ein Probandenabo!</span>
        <span class="alert alert-error display-none trx-error">Da ist was schief gelaufen!</span><br/>
        <button ng-click="subscribe()" class="btn btn-primary">Eintragen</button>
      </form>

      <h5>Wah! Trag mich wieder aus!</h5>
      <form name="unsubscribeForm" class="form-default">
        <input type="text" placeholder="me@example.com" ng-pattern="emailRgx"
           ng-model="unsubscribeForm.email" required />
        <span class="error alert alert-error" ng-show="unsubscribeForm.$dirty && unsubscribeForm.$invalid">
          Ungültig oder leer!
        </span>
        <span class="alert alert-success display-none">Dein Probandenabo ist gelöscht!</span>
        <span class="alert alert-error display-none trx-error">Da ist was schief gelaufen!</span><br/>
        <button ng-click="unsubscribe()" class="btn btn-primary">Austragen</button>
      </form>
    </div> 

    <% if posts.any? %>
      <hr/>
      <h5>10 neuesten Probanden-Inserate</h5>
      <ul class="unstyled">
      <% posts.each do |p| %>
        <li><a href='<%= p.url %>'><%= p.title %></a>
      <% end %>
      </ul>
    <% end %>

    <% min_ext = production? ? ".min" : nil %>
    <script src="lib/jq/jquery-1.8.3<%= min_ext %>.js"></script>
    <script src="lib/bs/bootstrap<%= min_ext %>.js"></script>
    <script src="lib/angular/angular<%= min_ext %>.js"></script>
    <script src="lib/angular/angular-resource<%= min_ext %>.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
